.tittle {
text-align: center;
margin: 0 auto;
height: 80px;
width: 1250px;
background-color: red;
border-radius: 20px;
background-image: linear-gradient(to bottom, red, yellow);
color: black;
}

.links {
    color: white;
    background-color: rgb(230, 230, 230);
    width: 300px;
    height: 700px;
    border-radius: 10px;
    margin-top: 20px;

   
}

.body {
  background-image: url(OIP.jpg);
}